{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola, Doctor</h1>
  <p class="lead">Bienvenido al Sistema de Gestión Del Centro Medico Galenos..</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/doctorsignup" role="button">Aplicar</a>
    <a class="btn btn-success btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
